pre {
  overflow: auto;
  padding: 1rem 3rem 1rem 1rem;
  margin: 2rem 0;
  border-radius: 0.7rem;
  position: relative;
  background-color: #232323;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-wrap: break-word;
  font-size: 0.8em;
}

pre copy-code-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
