---
import Code from "../Code.astro";
import "../code/styles.css";
import "../pagestyle.css";

const SSH_CMD = `ssh root@127.0.0.1 -o "StrictHostKeyChecking=no" -o "UserKnownHostsFile=/dev/null" -o "ProxyCommand=inetcat 44"`
---

<faq>
    <div class="normal">
        <h2>Frequently asked Questions</h2>
        
        <!-- -->
        <h5>Q: Is palera1n safe?</h5>
        <div class="alert-box basic">Like all jailbreaks, all of them are flawed in someway. We are NOT responsible for any data loss, or the result of a device being bricked. When using palera1n, the user should accept responsibility if anything happens to their device during the process.</div>

        <!-- -->
        <h5>Q: Why do updates take so long?</h5>
        <div class="alert-box basic">We do our best to release a high quality product for use for the public, small hotfixes for previous builds of palera1n will be available if we find any issues. Bigger changes coming soon :D</div>

        <!-- -->
        <h5>Q: Will palera1n ever support AMD? (or VMs?)</h5>
        <div class="alert-box basic">Due to the precision that <Code>checkm8</Code> needs in order to exploit the device, theres nothing we can do to attempt to fix the issue apart from telling you to either get an intel machine or an AMD mobile computer. Sorry.</div>
        <div class="alert-box basic">The same applies for virtual machines, we cannot fix the issues that come from using any virtual machine software due to the exploit. So please, either use macOS or Linux on real hardware.</div>

        <!-- -->
        <h5>Q: Why is there problems with USB-C cables and ports?</h5>
        <div class="alert-box basic">Due to apple! They messed up on their USB-C cables and now there's issues when getting into DFU.</div>
        <div class="alert-box basic">USB-C port on Apple Silicon Macs may require manual unplugging and replugging of the lightning cable after checkm8 exploit, though this problem may be solved by connecting via USB hub, though extensions can vary.</div>
        
        <!-- -->
        <h5>Q: How do I use SSH?</h5>
        <div class="alert-box basic">Since palera1n has SSH by default via their dropbear port, you can use <br><pre><code>{SSH_CMD}</code></pre>Though, make sure you have <Code>libimobiledevice</Code> installed/and or downloaded.</div>

        <!-- -->
        <h5>Q: I need more help or I have more questions!</h5>
        <div class="alert-box basic">Join the <a href="https://dsc.gg/palera1n">Support Server</a> and ask your question in the <Code>Jailbreak</Code> or <Code>Support</Code> channels.</div>
    </div>
</faq>
