---
import Layout from "../layouts/Default.astro";
import "../components/pagestyle.css";
---

<Layout showNavbar={true}>
    <style>
        .page-center {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 94vh;
            min-width: 400px;
            margin: 0 auto;
        }

        .button-container {
            margin-top: 25px;
        }
        .base-button {
            padding: 7px 22px;
            margin-right: 10px;
            font-size: 0.9rem;
            color: #fff;
            border: none;
            border-radius: 9px;
            cursor: pointer;
            transition: background-color 0.3s;
            z-index: 2;
            text-decoration: none;
        }

        .download-button {
            background: linear-gradient(180deg, #43b6b6, #1b6e70);
        }

        .download-button:hover {
            background: linear-gradient(180deg, #369292, #135253);
        }

        h1 {
            color: #e6e6e6;
            font-size: 2rem;
            font-weight: 600;
            margin-bottom: -5px;
        }

        p {
            font-size: 1rem;
            opacity: 0.37;
        }

    </style>

    <div class="page-center">
            <div>
                <h1>Could not find page</h1>
                <p>Was unable to locate the page, you should go back home.</p>

                <div class="button-container">
                    <a href="/" class="base-button download-button">
                    <svg width="11" height="14" viewBox="0 0 11 14" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M0.0488281 8.17383C0.0488281 11.127 2.43359 13.5117 5.38086 13.5117C8.33398 13.5117 10.7129 11.127 10.7129 8.17383C10.7129 7.7168 10.3965 7.40039 9.95117 7.40039C9.51172 7.40039 9.21289 7.7168 9.21289 8.17383C9.21289 10.2891 7.50195 12 5.38086 12C3.25977 12 1.56055 10.2891 1.56055 8.17383C1.56055 6.01172 3.21875 4.31836 5.33398 4.31836C5.60938 4.31836 5.86133 4.33594 6.08398 4.37695L4.76562 5.68359C4.63672 5.8125 4.55469 5.96484 4.55469 6.16992C4.55469 6.58008 4.87695 6.90234 5.28711 6.90234C5.49219 6.90234 5.66211 6.83203 5.79688 6.70312L8.1875 4.27734C8.3457 4.11914 8.42188 3.94336 8.42188 3.73242C8.42188 3.52734 8.33984 3.33398 8.1875 3.1875L5.79688 0.75C5.66211 0.609375 5.49219 0.533203 5.28711 0.533203C4.87695 0.533203 4.55469 0.867188 4.55469 1.2832C4.55469 1.48828 4.63672 1.64062 4.75977 1.77539L5.92578 2.91797C5.75 2.88867 5.53906 2.86523 5.33398 2.86523C2.39258 2.86523 0.0488281 5.21484 0.0488281 8.17383Z" fill="white" fill-opacity="0.7" /> </svg>
                        Go Home
                    </a>
                </div>
            </div>
    </div>
</Layout>
