---
import Layout from "../layouts/Default.astro";
import "../components/pagestyle.css";
---

<Layout>
  <script type="text/javascript">
    // Redirect to /docs/intro
    window.location.href = '/docs/intro';
  </script>
  <p>If you are not redirected automatically, <a href="/docs/intro">click here</a>.</p>
</Layout>
