---
import Layout from '../layouts/Default.astro';
import { Icon } from 'astro-icon';
import credits from '../lib/credits.json';
---

<Layout>
	<!-- Hero -->
	<div class="bg-gradient-to-b from-gray-900 to-[#833F46] relative py-40 animate-[gradient_3s_ease-in-out_infinite]">
		<div class="absolute mr-[-50%] -translate-x-2/4 -translate-y-2/4 left-2/4 top-2/4 text-center">
			<h1 class="text-6xl font-bold text-white">palera1n</h1>
			<p class="text-lg mt-6 max-[400px]:px-2 text-white">palera1n is a developer-oriented jailbreak for checkm8 devices (A8-A11) on iOS 15.0+</p>
			<div class="mb-[25px]"></div>

			<div class="flex justify-center space-x-8">
				<a href="https://ios.cfw.guide/installing-palera1n" class="text-black dark:text-white bg-gray-100 dark:bg-gray-900 hover:bg-grey focus:ring-4 focus:ring-blue-300 font-bold rounded-full text-sm px-7 py-4 dark:hover:bg-gray-800 focus:outline-none no-underline transition-[background-color] duration-[0.2s] ease-[ease-in-out]">Get Started</a>
				<a href="https://palera.in/latest-release/" class="text-black dark:text-white bg-gray-100 dark:bg-gray-900 hover:bg-grey focus:ring-4 focus:ring-blue-300 font-bold rounded-full text-sm px-7 py-4 dark:hover:bg-gray-800 focus:outline-none no-underline transition-[background-color] duration-[0.2s] ease-[ease-in-out]">Downloads</a>
			</div>
		</div>
	</div>

	<!-- FAQ -->
	<div class="bg-gradient-to-b from-gray-100 dark:from-gray-900 to-gray-300 dark:to-gray-800 relative p-12">
		<h1 class="text-3xl font-bold text-gray-800 dark:text-white uppercase text-center">FAQ</h1>
		<p class="text-center text-gray-600 dark:text-gray-300 mt-2 text-lg">Here are some of the most frequently asked questions</p>
		<div class="max-w-2xl mx-auto sm:px-6 lg:px-4 py-12">
			<div class="grid grid-cols-1 gap-4">
				<div class="bg-gray-200 dark:bg-gray-800 border-2 border-gray-300 dark:border-gray-600 rounded-3xl p-4 md:p-4 flex flex-col justify-center items-start mt-4">
					<div class="flex items-center">
						<span class="text-lg font-bold text-black dark:text-white mb-2">What is palera1n?</span>
					</div>
					<div class="flex items-center">
						<span class="text-gray-700 dark:text-gray-300">palera1n is a developer-oriented jailbreak for checkm8 devices (A8-A11) on iOS 15.0+</span>
					</div>
				</div>
				<div class="bg-gray-200 dark:bg-gray-800 border-2 border-gray-300 dark:border-gray-600 rounded-3xl p-4 md:p-4 flex flex-col justify-center items-start mt-4">
					<div class="flex items-center">
						<span class="text-lg font-bold text-black dark:text-white mb-2">What platforms are supported?
						</span>
					</div>
					<div class="flex items-center">
						<span class="text-gray-700 dark:text-gray-300">You may jailbreak any A8-A11 device on iOS 15.0+ using macOS or Linux. There is no Windows support and we do not know if palera1n will ever have it.</span>
					</div>
				</div>
				<div class="bg-gray-200 dark:bg-gray-800 border-2 border-gray-300 dark:border-gray-600 rounded-3xl p-4 md:p-4 flex flex-col justify-center items-start mt-4">
					<div class="flex items-center">
						<span class="text-lg font-bold text-black dark:text-white mb-2">Is palera1n safe?
						</span>
					</div>
					<div class="flex items-center">
						<span class="text-gray-700 dark:text-gray-300">Like all jailbreaks, all of them are flawed in someway. We are NOT responsible for any data loss, or the result of a device being bricked. The user of this program accepts responsibility should something happen to their device. While nothing should happen, jailbreaking has risks in itself.</span>
					</div>
				</div>
				<div class="bg-gray-200 dark:bg-gray-800 border-2 border-gray-300 dark:border-gray-600 rounded-3xl p-4 md:p-4 flex flex-col justify-center items-start mt-4">
					<div class="flex items-center">
						<span class="text-lg font-bold text-black dark:text-white mb-2">How can I jailbreak with palera1n?
						</span>
					</div>
					<div class="flex items-center">
						<span class="text-gray-700 dark:text-gray-300">The following steps on <a href="https://ios.cfw.guide/installing-palera1n" class="text-blue-600 dark:text-blue-400 underline hover:text-blue-700 dark:hover:text-blue-500 transition-[color] duration-[0.2s] ease-[ease-in-out]">ios.cfw.guide</a> can help you.</span>
					</div>
				</div>
				<div class="bg-gray-200 dark:bg-gray-800 border-2 border-gray-300 dark:border-gray-600 rounded-3xl p-4 md:p-4 flex flex-col justify-center items-start mt-4">
					<div class="flex items-center">
						<span class="text-lg font-bold text-black dark:text-white mb-2">Am I able to SSH?
						</span>
					</div>
					<div class="flex items-center">
						<span class="text-gray-700 dark:text-gray-300">Yes, similar to checkra1n we have SSH that is started when the device boots up, port is 44 and can only be accessed via USB connection.</span>
					</div>
				</div>
				<div class="bg-gray-200 dark:bg-gray-800 border-2 border-gray-300 dark:border-gray-600 rounded-3xl p-4 md:p-4 flex flex-col justify-center items-start mt-4">
					<div class="flex items-center">
						<span class="text-lg font-bold text-black dark:text-white mb-2">I need more help or I have more questions!
						</span>
					</div>
					<div class="flex items-center">
						<span class="text-gray-700 dark:text-gray-300">Join our <a href="https://dsc.gg/palera1n" class="text-blue-600 dark:text-blue-400 underline hover:text-blue-700 dark:hover:text-blue-500 transition-[color] duration-[0.2s] ease-[ease-in-out]">Discord</a>! We have helpers who can help you with your issues, and answer your questions.</span>
					</div>
				</div>
			</div>
		</div>
	</div>	

<!-- Our team section -->
<div class="bg-gradient-to-b to-gray-100 dark:to-gray-900 from-gray-300 dark:from-gray-800 relative">
    <div class="max-w-2xl mx-auto px-4 sm:px-6 lg:px-4 py-12">
        <h1 class="text-3xl font-bold text-gray-800 dark:text-white text-center" style="margin-top: -80px;">Credits</h1>
        <p class="text-center text-gray-600 dark:text-gray-300 mt-2 text-lg">We worked hard together to make palera1n possible :)</p>
        <div class="mt-12">
            {credits.sections.find(section => section.name === "Credits").data.map((credit: any) => {
                return (
                    <a href={`https://github.com/${credit.github}`}>
                        <div class="bg-gray-400 dark:bg-gray-600 border-2 border-gray-500 dark:border-gray-400 rounded-full p-2 flex flex-row items-center mb-4">
                            <div class="mr-2">
                                <img class="object-center object-cover rounded-full h-12 w-12" src={`https://github.com/${credit.github}.png`} alt="photo">
                            </div>
                            <div>
                                <p class="text-base text-gray-800 dark:text-white font-bold mb-1">{credit.name}</p>
                                <p class="text-sm text-gray-800 dark:text-white font-normal">{credit.desc}</p>
                            </div>
                        </div>
                    </a>
                );
            })}
        </div>
        <a href="/other-credits" class="flex items-center mt-10 justify-center">
            <Icon pack="mdi" name="open-in-new" class="fill-gray-800 h-[1.4em] md:mr-2" />
            <h5 class="text-1xl font-bold text-black dark:text-white cursor-pointer"> Other Credits</h5>
        </a>
    </div>
</div>

</Layout>
