---
import Layout from '../layouts/Default.astro';
---

<Layout>
	<div class="bg-gradient-to-b from-gray-800 to-[#833F46] relative h-[500px] animate-[gradient_3s_ease-in-out_infinite]">
		<div class="absolute mr-[-50%] -translate-x-2/4 -translate-y-2/4 left-2/4 top-2/4 text-center">
			<h1 class="text-6xl font-bold">palera1n</h1>
			<div class="mb-[15px]"></div>
			<p class="text-lg">palera1n is a developer-oriented jailbreak for checkm8 devices (A8-A11) on iOS 15.0-16.3</p>
			<div class="mb-[20px]"></div>
			<a href="https://ios.cfw.guide/installing-palera1n" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-7 lg:px-5 py-3 lg:py-3.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 no-underline transition-[background-color] duration-[0.2s] ease-[ease-in-out]">Get Started</a>
		</div>
	</div>
</Layout>
