---
import Layout from "../layouts/Default.astro";
import Hero from "../components/Hero.astro";
import FAQ from '../components/other/Faq.astro';
import Credits from '../components/other/Credits.astro';
import MacOSDownload from "../components/download/Mac.astro";
import LinuxDownload from "../components/download/Linux.astro";
---

<Layout>
	<Hero>
		<h1>palera1n</h1>
		<p>Jailbreak for A8 through A11 devices, on iOS 15.0 and higher.</p>
	</Hero>

	<MacOSDownload />
	<LinuxDownload />

	<FAQ/>
	<Credits/>
</Layout>
