---
import { Icon } from 'astro-icon';
import Layout from '../layouts/Default.astro';
---

<script>
	const userAgent = navigator.userAgent;

	const isMac = /Macintosh/.test(userAgent);
	const isLinux = /Linux/.test(userAgent);
	const isWindows = /Windows/.test(userAgent);

	const isAndroid = /Android/.test(userAgent);
	const isX86_64 = /x86_64|amd64/.test(userAgent);
	const isAarch64 = /aarch64|arm64/.test(userAgent);
	const isI686 = /i686|i386/.test(userAgent);
	const isArmel = /armel/.test(userAgent);

	if (isMac) {
	  // Show MacOS download button
	  document.querySelector('#mac-download-button').classList.remove('hidden');
	} else if (isLinux) {
	  // Show Linux / Android download button based on architecture
	  if (isX86_64) {
		document.querySelector('#linux-x86_64-download-button').classList.remove('hidden');
	  } else if (isAarch64) {
		document.querySelector('#linux-aarch64-download-button').classList.remove('hidden');
	  } else if (isI686) {
		document.querySelector('#linux-i686-download-button').classList.remove('hidden');
	  } else if (isArmel) {
		document.querySelector('#linux-armel-download-button').classList.remove('hidden');
	  } else if (isAndroid) {
		document.querySelector('#linux-x86_64-download-button').classList.remove('hidden');
	  }
	} else if (isWindows) {
		document.querySelector('#windows-error').classList.remove('hidden');
		document.querySelector('#windows-text').classList.remove('hidden');
	} else {
	  // Hide all download buttons
	  document.querySelector('#error').classList.remove('hidden');
	}
</script>


<Layout>
	<!-- Hero -->
	<div class="bg-gradient-to-b from-gray-800 to-[#833F46] relative py-14 animate-[gradient_3s_ease-in-out_infinite]">
		<div class="absolute mr-[-50%] -translate-x-2/4 -translate-y-2/4 left-2/4 top-2/4 text-center">
			<h1 class="text-6xl font-bold text-white">Latest Release</h1>
		</div>
	</div>

	<!-- Releases -->
	<div class="p-12">
		<h2 class="text-1xl font-bold text-gray-800 dark:text-white text-left">v2.0.0-beta.4</h2>
		<div class="space-y-12 px-2 xl:px-16 mt-12">
			<div class="w-full bg-gray-100 dark:bg-gray-700 rounded-lg p-12 flex flex-col justify-center items-start">
				<div class="text-left">
					<p class="text-base text-gray-800 dark:text-white font-normal">Published on: 02 / 15 / 2023</p>
					  
					<!-- Buttons based on useragent -->

					<a href="https://github.com/palera1n/palera1n/releases/download/v2.0.0-beta.4/palera1n-macos-universal" download id="mac-download-button" class="bg-gray-200 text-gray-800 dark:text-black dark:white rounded-lg p-4 flex flex-row justify-center items-center mt-4 max-w-max hidden">
						<Icon pack="mdi" name="download" class="fill-gray-800 dark:fill-white h-[1.4em] mr-2" />
						<span class="text-center">Download for MacOS (CLI, universal)</span>
					</a>
					  
					<a href="https://github.com/palera1n/palera1n/releases/download/v2.0.0-beta.4/palera1n-linux-x86_64" download id="linux-x86_64-download-button" class="bg-gray-200 text-gray-800 dark:text-black dark:white rounded-lg p-4 flex flex-row justify-center items-center mt-4 max-w-max hidden">
						<Icon pack="mdi" name="download" class="fill-gray-800 dark:fill-white h-[1.4em] mr-2" />
						<span class="text-center">Download for Linux (CLI, x86_64)</span>
					</a>
					  
					<a href="https://github.com/palera1n/palera1n/releases/download/v2.0.0-beta.4/palera1n-linux-arm64" download id="linux-aarch64-download-button" class="bg-gray-200 text-gray-800 dark:text-black dark:white rounded-lg p-4 flex flex-row justify-center items-center mt-4 max-w-max hidden">
						<Icon pack="mdi" name="download" class="fill-gray-800 dark:fill-white h-[1.4em] mr-2" />
						<span class="text-center">Download for Linux (CLI, aarch64)</span>
					</a>
					  
					<a href="https://github.com/palera1n/palera1n/releases/download/v2.0.0-beta.4/palera1n-linux-x86" download id="linux-i686-download-button" class="bg-gray-200 text-gray-800 dark:text-black dark:white rounded-lg p-4 flex flex-row justify-center items-center mt-4 max-w-max hidden">
						<Icon pack="mdi" name="download" class="fill-gray-800 dark:fill-white h-[1.4em] mr-2" />
						<span class="text-center">Download for Linux (CLI, i686)</span>
					</a>

					<a href="https://github.com/palera1n/palera1n/releases/download/v2.0.0-beta.4/palera1n-linux-armel" download id="linux-armel-download-button" class="bg-gray-200 text-gray-800 dark:text-black dark:white rounded-lg p-4 flex flex-row justify-center items-center mt-4 max-w-max hidden">
						<Icon pack="mdi" name="download" class="fill-gray-800 dark:fill-white h-[1.4em] mr-2" />
						<span class="text-center">Download for Linux (CLI, armel)</span>
					</a>

					<!-- Error Buttons based on Windows -->

					<div style="display: flex; gap: 10px; margin: 10px 0;">
						<a href="https://http.cat/401" download id="windows-error" class="bg-red-400 text-gray-800 dark:text-black dark:white rounded-lg p-4 flex flex-row justify-center items-center max-w-max hidden">
							<Icon pack="mdi" name="alert-circle" class="fill-gray-800 dark:fill-white h-[1.4em] mr-2" />
							<span class="text-center">Your platform is unsupported (Windows).</span>
						</a>
					
						<a href="https://ios.cfw.guide/using-palen1x" download id="windows-text" class="bg-gray-200 text-gray-800 dark:text-black dark:white rounded-lg p-4 flex flex-row justify-center items-center max-w-max hidden">
							<Icon pack="mdi" name="open-in-new" class="fill-gray-800 dark:fill-white h-[1.4em] mr-2" />
							<span class="text-center">Use palen1x instead</span>
						</a>
					</div>

					<!-- Error Button based on useragent -->

					<a href="https://http.cat/401" download id="error" class="bg-red-400 text-gray-800 dark:text-black dark:white rounded-lg p-4 flex flex-row justify-center items-center mt-4 max-w-max hidden">
						<Icon pack="mdi" name="alert-circle" class="fill-gray-800 dark:fill-white h-[1.4em] mr-2" />
						<span class="text-center">Your platform is unsupported.</span>
					</a>

					<!-- Documentation -->

					<h5 class="text-1xl font-bold text-gray-800 dark:text-white text-left mt-4">Full documentation</h5>

					<a href="https://cdn.nickchan.lol/palera1n/c-rewrite/releases/v2.0.0-beta.4/palera1n.1.html" target="_blank" rel="noopener noreferrer" class="text-blue-500 hover:text-blue-700 pr-2">
						https://cdn.nickchan.lol/palera1n/c-rewrite/releases/v2.0.0-beta.4/palera1n.1.html
					</a>

					<!-- Notes -->

					<h5 class="text-1xl font-bold text-gray-800 dark:text-white text-left mt-4">Notes</h5>

					<div class="border border-gray-300 mt-2 mb-2"></div>

					<p class="text-base text-gray-800 dark:text-white font-normal mt-2">
						<span class="pl-4 pr-2">-</span> Able to jailbreak the device in fakefs-rootful mode, where "/" is writable, as well as rootless mode, where "/" cannot be written to.
					</p>
					<p class="text-base text-gray-800 dark:text-white font-normal mt-2">
						<span class="pl-4 pr-2">-</span> On A11 devices, that is, iPhone 8, iPhone 8 Plus and iPhone X, the passcode cannot be used.
					</p>
					<p class="text-base text-gray-800 dark:text-white font-normal mt-2">
						<span class="pl-4 pr-2">-</span> On A11 devices, on iOS 15, the passcode must be off while jailbroken.
					</p>
					<p class="text-base text-gray-800 dark:text-white font-normal mt-2">
						<span class="pl-4 pr-2">-</span> On A11 devices, on iOS 16, the passcode must be off since restore, and "Reset All Contents and Settings" from settings app counts as a restore. A backup may be used in this case.
					</p>

					<!-- Bug fixes -->

					<h5 class="text-1xl font-bold text-gray-800 dark:text-white text-left mt-4">Bug fixes</h5>

					<div class="border border-gray-300 mt-2 mb-2"></div>

					<p class="text-base text-gray-800 dark:text-white font-normal mt-2">
						<span class="pl-4 pr-2">-</span> Display an error instead of crashing when the machine has no detected USB ports.
					</p>
					<p class="text-base text-gray-800 dark:text-white font-normal mt-2">
						<span class="pl-4 pr-2">-</span> Fix Detecting DFU mode devices that are already connected when palera1n-c is started
					</p>
					<p class="text-base text-gray-800 dark:text-white font-normal mt-2">
						<span class="pl-4 pr-2">-</span> Make SpringBoard show non-default system apps (seems to be relevant on iPads)
					</p>
					<p class="text-base text-gray-800 dark:text-white font-normal mt-2">
						<span class="pl-4 pr-2">-</span> Fix amd64 binaries being embedded into non-amd64 releases
					</p>
					<p class="text-base text-gray-800 dark:text-white font-normal mt-2">
						<span class="pl-4 pr-2">-</span> Fixed version string
					</p>

					<!-- Known issues -->

					<h5 class="text-1xl font-bold text-gray-800 dark:text-white text-left mt-4">Known Issues</h5>

					<div class="border border-gray-300 mt-2 mb-2"></div>
					
					<p class="text-base text-gray-800 dark:text-white font-normal mt-2">
						<span class="pl-4 pr-2">-</span> If stuck at booting pongoOS or found Pongo USB mode device, Ctrl+C, type exit, then retry, don't reboot the device. It happens on A9 and older devices.

						If it still doesn't work, you can also try unplugging and replugging the device.

						( Rootful ) Make sure you created fakeFS/bindFS before jailbreaking with rootful, or else you'll also be stuck on the pongoOS screen.
					</p>
					<p class="text-base text-gray-800 dark:text-white font-normal mt-2">
						<span class="pl-4 pr-2">-</span> ( Rootful ) "panic: mount exited (exit status 66)" issue with BindFS on iOS 16, use FakeFS instead.
					</p>
				</div>
			</div>
					<!-- All Downloads -->
			<div class="w-full bg-gray-100 dark:bg-gray-700 rounded-lg p-12 flex flex-col mx-auto text-center">
				<a href="https://github.com/palera1n/palera1n/releases/tag/v2.0.0-beta.4" class="flex items-center justify-center">
					<Icon pack="mdi" name="link-variant" class="fill-gray-800 h-[1.4em] md:mr-2" />
					<h5 class="text-3xl font-bold text-black dark:text-white cursor-pointer"> All Builds</h5>
				  </a>
				
				<style>
					@media screen and (max-width: 368px) {
					  .flex-wrap {
						flex-wrap: wrap;
					  }
					  .flex-nowrap {
						flex-wrap: nowrap;
					  }
					  .flex {
						display: flex;
					  }
					  .flex-col {
						display: flex;
						flex-direction: column;
					  }
					  .md\\:flex-nowrap {
						flex-wrap: nowrap;
					  }
					}
				  </style>

				<div class="mt-8 flex justify-center flex-wrap md:flex-nowrap">
					<div class="max-w-[960px] mx-auto mt-4 flex justify-center flex-wrap md:flex-nowrap">
						<div class="w-full md:w-auto md:flex-shrink-0">
						  <a href="https://github.com/palera1n/palera1n/releases/download/v2.0.0-beta.4/palera1n-macos-universal" download id="mac-download-button" class="w-full bg-white text-gray-800 rounded-lg p-2 flex flex-row justify-center items-center mt-4 md:mt-0 md:mr-4">
							<Icon pack="mdi" name="download" class="fill-gray-800 h-[1.4em] md:mr-2" />
							<span class="text-center">Download for macOS (CLI, universal) </span>
						  </a>
						</div>
						<div class="w-full md:w-auto md:flex-shrink-0">
						  <a href="https://github.com/palera1n/palera1n/releases/download/v2.0.0-beta.4/palera1n-linux-x86_64" download id="linux-download-button" class="w-full bg-white text-gray-800 rounded-lg p-2 flex flex-row justify-center items-center mt-4 md:mt-0 md:ml-4">
							<Icon pack="mdi" name="download" class="fill-gray-800 h-[1.4em] md:mr-2" />
							<span class="text-center">Download for Linux (CLI, x86_64) </span>
						  </a>
						</div>
					  </div>
			    </div>

				<div class="mt-2 flex justify-center flex-wrap md:flex-nowrap">
					<div class="max-w-[960px] mx-auto mt-2 flex justify-center flex-wrap md:flex-nowrap">
						<div class="w-full md:w-auto md:flex-shrink-0">
						  <a href="https://github.com/palera1n/palera1n/releases/download/v2.0.0-beta.4/palera1n-linux-x86" download id="mac-download-button" class="w-full bg-white text-gray-800 rounded-lg p-2 flex flex-row justify-center items-center mt-4 md:mt-0 md:mr-4">
							<Icon pack="mdi" name="download" class="fill-gray-800 h-[1.4em] md:mr-2" />
							<span class="text-center">Download for Linux (CLI, i686) </span>
						  </a>
						</div>
						<div class="w-full md:w-auto md:flex-shrink-0">
						  <a href="https://github.com/palera1n/palera1n/releases/download/v2.0.0-beta.4/palera1n-linux-armel" download id="linux-download-button" class="w-full bg-white text-gray-800 rounded-lg p-2 flex flex-row justify-center items-center mt-4 md:mt-0 md:ml-4">
							<Icon pack="mdi" name="download" class="fill-gray-800 h-[1.4em] md:mr-2" />
							<span class="text-center">Download for Linux (CLI, armel) </span>
						  </a>
						</div>
					  </div>
			    </div>
				<div class="mt-2 flex justify-center flex-wrap md:flex-nowrap">
					<div class="max-w-[960px] mx-auto mt-2 flex justify-center flex-wrap md:flex-nowrap">
						<div class="w-full md:w-auto md:flex-shrink-0">
						  <a href="https://github.com/palera1n/palera1n/releases/download/v2.0.0-beta.4/palera1n-linux-arm64" download id="mac-download-button" class="w-full bg-white text-gray-800 rounded-lg p-2 flex flex-row justify-center items-center mt-4 md:mt-0 md:mr-4">
							<Icon pack="mdi" name="download" class="fill-gray-800 h-[1.4em] md:mr-2" />
							<span class="text-center">Download for Linux (CLI, arm64) </span>
						  </a>
						</div>
					  </div>
			    </div>
			</div>
	      	  <a href="/older-releases" class="flex items-center justify-center">
				<Icon pack="mdi" name="open-in-new" class="fill-gray-800 h-[1.4em] md:mr-2" />
				<h5 class="text-1xl font-bold text-black dark:text-white cursor-pointer"> Older Releases</h5>
			  </a>
		</div>
	</div>
</Layout>
