---
import { Icon } from 'astro-icon';
import Layout from '../layouts/Default.astro';
---

<head>
	<style>
	code {
		font-family: 'Fira Code', monospace;
	 	color: black;
		background-color: #e5e7eb;
		padding: 2px;
	 	font-size: 105%;
	 	border-radius: 5px;
	}
	</style>
</head>

<Layout>
	<!-- Hero -->
	<div class="bg-gradient-to-b from-gray-800 to-[#833F46] relative py-14 animate-[gradient_3s_ease-in-out_infinite]">
		<div class="absolute mr-[-50%] -translate-x-2/4 -translate-y-2/4 left-2/4 top-2/4 text-center">
			<h1 class="text-1xl font-bold text-white">Older Releases</h1>
		</div>
	</div>
	<div class="bg-gradient-to-b from-gray-100 via-gray-300 to-gray-100 dark:from-gray-900 dark:via-gray-800 dark:to-gray-900 relative p-12">

		<h3 class="text-1xl font-bold text-gray-800 dark:text-white text-center">v2.0.0 beta 5: "Tumbleweed"</h3>
		<div class="max-w-3xl mx-auto px-4 sm:px-6 lg:px-4 py-3 md:py-12 space-y-12">
			<div class="w-full bg-gray-200 dark:bg-gray-800 border-2 border-gray-300 dark:border-gray-600 rounded-2xl p-6 md:p-12 flex flex-col justify-center items-start">
				<div class="text-left">
					  
					<!-- Buttons based on useragent -->
					
					<div style="display: flex; justify-content: center; align-items: center; margin-top: -20px;">
						<a href="https://zeusteam.dev" download id="mac-download-button" class="bg-gray-400 dark:bg-gray-600 border-2 border-gray-500 dark:border-gray-400 text-gray-800 text-white dark:white rounded-xl p-3 flex flex-row justify-center items-center mt-4 max-w-max hidden">
							<Icon pack="mdi" name="download" class="fill-gray-800 dark:fill-white h-[1.4em] mr-2" />
							<span class="text-center">UninstallOS</span>
						</a>				
					</div>
				</div>
			</div>
		</div>
</Layout>
