---

---

<style>
   .basecontainer {
        padding-left: 20px;
        padding-right: 20px;
        max-width: 800px;
        padding-bottom: 30px;
        margin: 0 auto;
        text-align: left;
        padding-top: 20px;
   }

   .basecontainer h1 {
        font-size: 26px;
        font-weight: 600;
   }

   .basecontainer h2 {
        font-size: 20px;
        font-weight: 300;
        color: #767676;
   }

   .basecontainer2 {
        display: block;
   }

   .baseimagecontainer {
        width: 100%; 
        height: 100%;
        margin-top: 0;
        margin-left: 0; 
        margin-right: 0;
   }

   @media screen and (min-width: 800px) {
        .basecontainer2 {
            display: flex;
        }
        .baseimagecontainer {
            width: 550px; 
            height: 390px;
            margin-left: 10px; 
            margin-right: -30px;
        }
   }

    .button-container {
        margin-top: 25px;
    }
    .base-button {
        padding: 10px 22px;
        margin-right: 10px;
        font-size: 0.9rem;
        color: #fff;
        border: none;
        border-radius: 9px;
        cursor: pointer;
        transition: background-color 0.3s;
        z-index: 2;
        text-decoration: none;
    }

    .graph-button {
        background-color: #1f1f21;
        border-width: 1px;
        border-style: solid;
        border-color: #393939;
    }

    .graph-icon {
        transform: rotate(-45deg);
    }

    .vertical-align {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
</style>

<asdsadsad>
    <div class="basecontainer">

        <div class="basecontainer2">
            <div class="vertical-align">
                <h1>Unlock the freedom that you deserve in your iOS device; takes mere seconds.</h1>
                <h2>Also supports a wide range of other platforms. Such as AppleTV, T2 Macbooks, iPads, and iPod Touch.</h2>
                <div class="button-container">
                    <a href="https://github.com/palera1n/palera1n?tab=readme-ov-file#device-support" class="base-button graph-button"  target="_blank">
                        See Compatibility Chart
                        <svg class="graph-icon" width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M10.521 5.1167C10.521 4.95557 10.4512 4.79443 10.3276 4.68164L6.79346 1.14746C6.65918 1.01318 6.51416 0.959473 6.36377 0.959473C6.03076 0.959473 5.78906 1.1958 5.78906 1.51807C5.78906 1.68457 5.85352 1.82959 5.96094 1.93701L7.16406 3.15625L8.74316 4.60645L7.49707 4.53125H0.96582C0.611328 4.53125 0.369629 4.76758 0.369629 5.1167C0.369629 5.46045 0.611328 5.70215 0.96582 5.70215H7.49707L8.74854 5.62695L7.16406 7.07715L5.96094 8.29639C5.85352 8.39844 5.78906 8.54346 5.78906 8.70996C5.78906 9.03223 6.03076 9.27393 6.36377 9.27393C6.51416 9.27393 6.65381 9.21484 6.78271 9.09131L10.3276 5.55176C10.4512 5.43359 10.521 5.27783 10.521 5.1167Z" fill="#e3dfe4" /> </svg>
                    </a>
                </div>
            </div>
            <div class="vertical-align">
                <img src="/assets/examples/web_terminal.png" class="baseimagecontainer" alt="macOS terminal running palera1n">
            </div>
        </div>

    </div>
</asdsadsad>
