---

---

<style>
   .basecontainer {
        padding-left: 20px;
        padding-right: 20px;
        max-width: 800px;
        padding-bottom: 30px;
        margin: 0 auto;
        text-align: left;
   }
    .baseextracontainer h1 {
         font-size: 26px;
         font-weight: 600;
    }
 
    .baseextracontainer h2 {
         font-size: 20px;
         font-weight: 300;
         color: #767676;
    }
 
    .baseextracontainer2 {
         display: flex;
         padding-left: 20px;
         padding-right: 20px;
         max-width: 800px;
         padding-bottom: 30px;
         padding-top: 20px;
         margin: 0 auto;
         text-align: left;
    }
 
    .baseimagecontainer2 {
        width: 150px; 
        height: 250px;
        padding-top: 50px;
        display: none;
    }
 
    @media screen and (min-width: 800px) {
         .baseextracontainer2 {
             display: flex;
         }
         .baseimagecontainer2 {
            display: block;
            width: 250px; 
            height: 410px;
            margin-left: -30px; 
            margin-right: 20px;
        }
    }
 
     .button-container {
         margin-top: 25px;
     }
     .base-button {
         padding: 10px 22px;
         margin-right: 10px;
         font-size: 0.9rem;
         color: #fff;
         border: none;
         border-radius: 9px;
         cursor: pointer;
         transition: background-color 0.3s;
         z-index: 2;
         text-decoration: none;
     }
 
     .graph-button {
         background-color: #1f1f21;
         border-width: 1px;
         border-style: solid;
         border-color: #393939;
     }
 
     .graph-icon {
         transform: rotate(-45deg);
     }
 
 .vertical-align {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
 
 </style>
 
 <asdsadsad>
     <div class="baseextracontainer">
        
        <div class="baseextracontainer2">
            <div class="vertical-align">
                <img src="/assets/examples/web_iphone.png" class="baseimagecontainer2" alt="Jailbroken iPhone home screen showing the palera1n loader app, Sileo, and Zebra">
            </div>

            <div class="vertical-align">
                <h1>Default package managers come included inside of palera1n. Can be installed through the app.</h1>
                <h2>Those package managers are <a class="coolshit" href="https://github.com/Sileo/Sileo" target="_blank">Sileo</a> & <a class="coolshit" href="https://github.com/zbrateam/Zebra" target="_blank">Zebra</a>.</h2>
                
                <h1>Multiple environments!</h1>
                <h2>
                    We provide and maintain two different environments you can choose from (iOS/iPadOS only).<br/><br/>
                    - Rootless (the new default jailbreak on iOS 15.x+, used by many other jailbreaks such as Dopamine).<br/><br/>
                    - Rootful (the classic jailbreak experience).<br/>
                </h2>

                <h1>palera1n is open source!</h1>
                <h2>Source code can be found on the github organization <a class="coolshit" target="_blank" href="https://github.com/palera1n">here</a>!</h2>
            </div>

        </div>
     </div>
 </asdsadsad>
 