---

---

<style>
    .footer-container {
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 76px;
        text-align: center;
        margin-top: 2rem;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-content > div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>

<footer>
    <div class="footer-container">
        <div class="footer-content">
            <div>
                <p>
                    Copyright © 2024 palera1n team<br/>
                    Site made by <a class="coolshit" target="_blank" href="https://github.com/khcrysalis">Samara</a> and <a class="coolshit" target="_blank" href="https://github.com/nekohaxx">HAHALOSAH</a> for palera1n.
                </p>
            </div>
        </div>
    </div>
</footer>
