---
import { SITE_SOURCE_CODE } from "../scripts/constants";
import { MAIN_SOURCE_CODE } from "../scripts/constants";
import { MAIN_TWITTE_LINK } from "../scripts/constants";
import { MAIN_MASTOD_LINK } from "../scripts/constants";
import { MAIN_REPO_SOURCE } from "../scripts/constants";
---

<style>
    .footer-container {
        text-align: left;
        color: #fff;
        font-size: 12px;
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
    }

    .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer-content > div {
        display: flex;
        align-items: center;
    }

    .header-icons {
        display: flex;
        margin-left: auto;
    }

    .header-icons a {
        margin-right: 20px;
    }

    .divider {
        display: inline-block;
        margin: 0 10px;
        color: #ffffff;
    }

    .separator {
        margin-top: 10px;
        border-top: 1px solid #555555;
    }

    .footer-container .copyright-text {
        color: #fff !important;
    }

    .header-icons img {
        width: 20px;
        height: auto;
    }
</style>

<footer class="bg-black py-6">
    <div class="footer-container">
        <div class="footer-content">
            <div>
                <a href={ SITE_SOURCE_CODE } class="text-uppercase">SITE SOURCE</a>
                <span class="divider">&mdash;</span>
                <span class="copyright-text">Copyright (c) 2024 palera1n team</span>
            </div>
        </div>

        <div class="separator"></div>
        <p>The only official site to download palera1n is from <a href="https://palera.in">https://palera.in</a>.<br />Please make sure to avoid similar-looking sites as they are often malicious sites and are there to mislead to user.</p>

        <div class="header-icons">
            <a href={ MAIN_REPO_SOURCE }><img src="assets/svg/sileo.svg" alt="Sileo Repo Icon" /></a>
            <a href={ MAIN_MASTOD_LINK }><img src="assets/svg/mastodon_w.svg" alt="Mastodon Icon" /></a>
            <a href={ MAIN_SOURCE_CODE }><img src="assets/svg/github_w.svg" alt="GitHub Icon" /></a>
            <a href={ MAIN_TWITTE_LINK }><img src="assets/svg/twitter_w.svg" alt="Twitter Icon" /></a>
            <a href="https://cdn.nickchan.lol/palera1n/c-rewrite/releases/v2.0.0-beta.9.1/palera1n.1.html"><img src="assets/svg/docs.svg" alt="Documentation Icon" /></a>
        </div>
    </div>
</footer>
