---
import { SITE_SOURCE_CODE } from "../scripts/constants";
---

<style>
    .footer-container {
        text-align: left;
        color: #fff;
        font-size: 12px;
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
    }

    .divider {
        display: inline-block;
        margin: 0 10px;
        color: #ffffff;
    }

    .separator {
        margin-top: 10px;
        border-top: 1px solid #555555;
    }

    .footer-container .copyright-text {
        color: #fff !important;
    }
</style>

<footer class="bg-black py-6">
    <div class="footer-container">
        <a href={SITE_SOURCE_CODE} class="text-uppercase">SITE SOURCE</a>
        <span class="divider">&mdash;</span>
        <a class="copyright-text">Copyright (c) 2024 palera1n team</a>
        <div class="separator"></div>
        <p>The only official site to download palera1n is from <a href="https://palera.in">https://palera.in</a>.<br/>Please make sure to avoid similar-looking sites as they are often malicious sites and are there to mislead to user.</p>
    </div>
</footer>
