---
import { MAIN_SOURCE_CODE, MAIN_TWITTE_LINK, MAIN_MASTOD_LINK, MAIN_DISCOR_LINK, MAIN_DONATE_LINK } from "../scripts/constants";
import "./pagestyle.css";
---

<style>
    .header-container {
        position: relative;
        color: #fff;
        background-color: #18181a;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 56px;
        z-index: 1;
    }

    .header-content {
        padding: 0 1.5rem;
        width: 1200px;
        height: 100%;
        display: flex;
        justify-content: space-between;
    }

    .tabs {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .tab {
        padding: 10px 20px;
        cursor: pointer;
        text-decoration: none;
        color: #bdbdbd;
        border-bottom: 2px solid transparent;
        transition: border-bottom 0.3s;
    }

    .tab:hover {
        color: #fff;
    }

    .tab.active {
        font-weight:500;
        color: #fff;
        border-bottom: 2px solid #8ad1d1;
    }

    @media screen and (max-width: 800px) {
        .header-dl-button {
            display: none;
        }
    }
</style>

<div>
    <div class="header-container">
        <div class="header-content">
            <div class="tabs">
                <a href="/" class="tab" data-path="/">/</a>
                <a href="/about" class="tab" data-path="/about">credits</a>
                <a href="https://github.com/palera1n/palera1n/releases" target="_blank" class="tab" data-path="https://github.com/palera1n/palera1n/releases">changelog</a>
                <a href={MAIN_TWITTE_LINK} target="_blank" class="tab" data-path={MAIN_TWITTE_LINK}>twitter</a>
                <a href={MAIN_SOURCE_CODE} target="_blank" class="tab" data-path={MAIN_SOURCE_CODE}>github</a>
                <a href="/more" class="tab" data-path="/more">more</a>
            </div>
            <div style="display: flex; align-items: center; justify-content: center;">
                <a href="/download" class="header-dl-button">Download</a>
            </div>
        </div>
    </div>
</div>

<script>
    const currentPath = window.location.pathname;
    const tabs = document.querySelectorAll('.tab');
    
    tabs.forEach(tab => {
        const tabPath = tab.getAttribute('data-path');
        
        if (tabPath === '/' && currentPath === '/') {
            tab.classList.add('active');
        } else if (tabPath !== '/' && currentPath.startsWith(tabPath)) {
            tab.classList.add('active');
        }
    });
</script>

