---
import { MAIN_SOURCE_CODE } from "../scripts/constants";
import { MAIN_TWITTE_LINK } from "../scripts/constants";
import { MAIN_MASTOD_LINK } from "../scripts/constants";
import { MAIN_DISCOR_LINK } from "../scripts/constants";
import { MAIN_DONATE_LINK } from "../scripts/constants";

const { showNavbar, showMenuIcon } = Astro.props;
---

<style>
    .header-container {
        color: #fff;
        background-color: #18181a;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 56px;
        z-index: 1;
    }

    .header-content {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header-icons {
        display: flex;
        align-items: center;
        padding-right: 10px;
    }

    .header-icons img {
        width: 22px;
        height: auto;
    }


.navbar-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-logo, .menu-icon {
    width: 30px;
    height: 30px;
    margin-right: 0.5rem;
}


.menu-icon {
    display: none;
    cursor: pointer;
}
@media (max-width: 1000px) {
    .menu-icon {
        display: block;
    }
}



.navbar-link h1 {
    font-size: 22px;
    font-weight: 500;
    display: inline;
        padding-right: 0.5rem;
}

.navbar-link {
    color: white;
    text-decoration: none;
        font-size: 20px;
        font-weight: 300;
}

.header-fixed {
    position: fixed;
    width: 100vw;
}
</style>

<header>
    <div class={"header-container" + (showNavbar ? " header-fixed" : "")}>
        <div class="header-content">
            <div class="header-content">
                { showNavbar && <div class="navbar-content">
                    { showMenuIcon && <img class="menu-icon" src="/assets/svg/menu_24dp_FILL0_wght400_GRAD0_opsz24.svg" alt="Menu Icon" onclick="document.body.classList.toggle('sidebar-open');" /> }
                    <img class="navbar-logo" src="/favicons/128@2x.png" alt="palera1n logo" />
                    <a href="/" class="navbar-link"><h1>palera1n</h1>docs</a>
                </div> }
            </div>
            <div class="header-icons">
                <a href={ MAIN_SOURCE_CODE }>
                    <img src="/assets/svg/github_w.svg" alt="GitHub Icon" />
                </a>
                <a style="margin-left: 20px;" href={ MAIN_DISCOR_LINK }>
                    <img src="/assets/svg/discord_w.svg" alt="Twitter Icon" />
                </a>
                <a style="margin-left: 20px;" href={ MAIN_MASTOD_LINK }>
                    <img src="/assets/svg/mastodon_w.svg" alt="Mastodon Icon" />
                </a>
                <a style="margin-left: 20px;" href={ MAIN_TWITTE_LINK }>
                    <img src="/assets/svg/twitter_w.svg" alt="Twitter Icon" />
                </a>
                <a style="margin-left: 20px;" href={ MAIN_DONATE_LINK }>
                    <img src="/assets/svg/heart_w.svg" alt="Patreon Icon" />
                </a>
            </div>
        </div>
    </div>
</header>
