---
import { MAIN_SOURCE_CODE } from "../scripts/constants";
import { MAIN_TWITTE_LINK } from "../scripts/constants";
import { MAIN_MASTOD_LINK } from "../scripts/constants";
import { MAIN_DISCOR_LINK } from "../scripts/constants";
import { MAIN_DONATE_LINK } from "../scripts/constants";
---

<style>
    .header-container {
        color: #fff;
        background-color: #18181a;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 56px;
    }

    .header-content {
        padding-inline: 20px;
        width: 800px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header-icons {
        display: flex;
        align-items: center;
    }

    .header-icons img {
        width: 27px;
        height: auto;
    }
</style>

<header>
    <div class="header-container">
        <div class="header-content">
            <div></div>
            <div class="header-icons">
                <a href={ MAIN_SOURCE_CODE }>
                    <img src="assets/svg/github_w.svg" alt="GitHub Icon" />
                </a>
                <a style="margin-left: 40px;" href={ MAIN_DISCOR_LINK }>
                    <img src="assets/svg/discord_w.svg" alt="Twitter Icon" />
                </a>
                <a style="margin-left: 40px;" href={ MAIN_MASTOD_LINK }>
                    <img src="assets/svg/mastodon_w.svg" alt="Mastodon Icon" />
                </a>
                <a style="margin-left: 40px;" href={ MAIN_TWITTE_LINK }>
                    <img src="assets/svg/twitter_w.svg" alt="Twitter Icon" />
                </a>
                <a style="margin-left: 40px;" href={ MAIN_DONATE_LINK }>
                    <img src="assets/svg/heart_w.svg" alt="Patreon Icon" />
                </a>
            </div>
        </div>
    </div>
</header>
