---
import { MAIN_SOURCE_CODE } from "../scripts/constants";
import { MAIN_TWITTE_LINK } from "../scripts/constants";
---

<style>
    .header-container {
        color: #fff;
        font-size: 16px;
        max-width: 750px;
        margin: 0 auto;
        padding: 20px;
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        width: 100%;
        z-index: 1000;
        left: 50%;
        transform: translateX(-50%);
    }

    .header-icons {
        display: flex;
        align-items: center;
    }

    .header-icons img {
        width: 27px;
        height: auto;
    }
</style>

<header>
    <div class="header-container">
        <div class="header-icons"></div>

        <div class="header-icons">
            <a href={ MAIN_SOURCE_CODE }>
                <img src="assets/svg/github_w.svg" alt="GitHub Icon">
            </a>
            <a style="margin-left: 20px;" href={ MAIN_TWITTE_LINK }>
                <img src="assets/svg/twitter_w.svg" alt="Twitter Icon">
            </a>
        </div>
    </div>
</header>
