---

---

<style>
    .hero-container {
        top: 0;
        left: 0;
        width: 100%;
        height: 230px;

        background: linear-gradient(
            180deg,
            #1f1f21,
            #1f1f21
        );
        z-index: -1;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .hero-content {
        padding-inline: 20px;
        width: 800px;
        padding-bottom: 30px;
        text-align: left;
    }

    .hero-content h1 {
        color: #e6e6e6;
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: -5px;
    }

    .hero-content p {
        font-size: 1rem;
        opacity: 0.37;
    }

    .button-container {
        margin-top: 25px;
    }
    .hero-button {
        padding: 10px 22px;
        margin-right: 10px;
        font-size: 0.9rem;
        color: #fff;
        border: none;
        border-radius: 9px;
        cursor: pointer;
        transition: background-color 0.3s;
        z-index: 2;
        text-decoration: none;
    }

    .download-button {
        background: linear-gradient(
            180deg,
            #43b6b6,
            #1b6e70
        );
    }

    .download-button:hover {
        background: linear-gradient(
            180deg,
            #369292,
            #135253
        );
    }

    .github-button {
        color: #fff;
        background-color: transparent;
        border-width: 1px;
        border-style: solid;
        border-color: #393939;
    }

    .dl-icon {
        transform: rotate(90deg);
    }

</style>

<aasdasd>
    <div class="hero-container">
        <div class="hero-content">
            <div style="display: flex;margin-bottom:-10px">
                <img src="/favicons/128@2x.png" alt="palera1n logo" style="height: 45px; width: 45px;padding-top: 20px;margin-left:-5px">
                <h1 style="padding-bottom: 10px;margin-left:10px">palera1n</h1>
            </div>
            
            <p>Jailbreak for A8 through A11 devices, on iOS 15.0 and higher.</p>

            <div class="button-container">
                <a href="." class="hero-button download-button"  target="_blank">
                    <svg class="dl-icon" width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.521 5.1167C10.521 4.95557 10.4512 4.79443 10.3276 4.68164L6.79346 1.14746C6.65918 1.01318 6.51416 0.959473 6.36377 0.959473C6.03076 0.959473 5.78906 1.1958 5.78906 1.51807C5.78906 1.68457 5.85352 1.82959 5.96094 1.93701L7.16406 3.15625L8.74316 4.60645L7.49707 4.53125H0.96582C0.611328 4.53125 0.369629 4.76758 0.369629 5.1167C0.369629 5.46045 0.611328 5.70215 0.96582 5.70215H7.49707L8.74854 5.62695L7.16406 7.07715L5.96094 8.29639C5.85352 8.39844 5.78906 8.54346 5.78906 8.70996C5.78906 9.03223 6.03076 9.27393 6.36377 9.27393C6.51416 9.27393 6.65381 9.21484 6.78271 9.09131L10.3276 5.55176C10.4512 5.43359 10.521 5.27783 10.521 5.1167Z" fill="#e3dfe4" /> </svg>
                    Get Started
                </a>
                <a href="https://github.com/palera1n/palera1n" class="hero-button github-button"  target="_blank">
                    View on Github
                    <svg width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.521 5.1167C10.521 4.95557 10.4512 4.79443 10.3276 4.68164L6.79346 1.14746C6.65918 1.01318 6.51416 0.959473 6.36377 0.959473C6.03076 0.959473 5.78906 1.1958 5.78906 1.51807C5.78906 1.68457 5.85352 1.82959 5.96094 1.93701L7.16406 3.15625L8.74316 4.60645L7.49707 4.53125H0.96582C0.611328 4.53125 0.369629 4.76758 0.369629 5.1167C0.369629 5.46045 0.611328 5.70215 0.96582 5.70215H7.49707L8.74854 5.62695L7.16406 7.07715L5.96094 8.29639C5.85352 8.39844 5.78906 8.54346 5.78906 8.70996C5.78906 9.03223 6.03076 9.27393 6.36377 9.27393C6.51416 9.27393 6.65381 9.21484 6.78271 9.09131L10.3276 5.55176C10.4512 5.43359 10.521 5.27783 10.521 5.1167Z" fill="#e3dfe4" /> </svg>
                </a>
            </div>

        </div>
    </div>
</aasdasd>
