body {
    background-color: #151517;
    color: #ffffff;
    font-family: -apple-system-font, BlinkMacSystemFont, sans-serif;
    padding:0%;
    margin:0%;
}

.coolshit {
    color: #e2962b;
    text-decoration: none;
}

.coolshit:hover {
    text-decoration: underline;
}

.coolshit:visited {
    color: #f6a1ff;
}


.sidebar {
    position: absolute;
    width: 300px;
    left: 0;
    top: 56px;
    bottom: 0;
    border-right: 1px solid #404040;
    z-index: 0;
}

.docs-content-container {
    padding-left: 300px;
    padding-top: 56px;
}

.docs-content {
    padding: 2rem 3rem;
}

html {
    position: relative;
    min-height: 100%;
}