body {
    background-color: #151517;
    color: #ffffff;
    font-family: -apple-system-font, BlinkMacSystemFont, sans-serif;
    padding:0%;
    margin:0%;
}

.coolshit {
    color: #e2962b;
    text-decoration: none;
}

.coolshit:hover {
    text-decoration: underline;
}

.coolshit:visited {
    color: #a226af;
}