---
import Code from "../Code.astro";
import '../code/styles.css'
import "../pagestyle.css";

const TERMINAL_CMD = `sudo /bin/sh -c "$(curl -fsSL https://static.palera.in/scripts/install.sh)"`
const PREP_CMD = `sudo systemctl stop usbmuxd
sudo usbmuxd -f -p
`
---

<script>
	import '../code/copy-code-button.js'
	import '../code/create-copy-buttons.js'
</script>

<linuxdownload>
	<div id="tab2" class="tab-content">
		<h2>Installing palera1n (Linux)</h2>

		<p>Open your preferred terminal emulator and run the following command. This will download palera1n to your system and let you jailbreak. If you're using fish, switch to bash first (by running <Code>bash</Code>)</p>

		<pre><code>{TERMINAL_CMD}</code></pre>

		<p>To prepare palera1n for installation, you have to restart <Code>usbmuxd</Code> in a separate terminal window so palera1n is able to detect your device.</p>

		<pre><code>{PREP_CMD}</code></pre>

		<p>Once complete, you can now run <Code>sudo palera1n</Code> in your terminal to start the process.</p>

		<pre><code>sudo palera1n</code></pre>

		<div class="alert-box tip">When using palera1n, theres also other options within palera1n that you can specify to tell palera1n what to do. To view these, you can use <Code>palera1n --help</Code>. To view the online documentation, it can be found <a href="https://cdn.nickchan.lol/palera1n/c-rewrite/releases/v2.0.0-beta.9.1/palera1n.1.html">here</a>.</div>

		<div class="img-container">
			<img
				src="/assets/examples/p1_example_linux.png"
				alt="Example Image"/>
			<div class="img-overlay"></div>
		</div>

		<div class="alert-box critical">Due to the utilization of <a href="https://checkra.in/1337">checkra1n 1337</a>, there may be issues with minimal linux distributions that can lead to palera1n not working. Best chance to avoid this issue is to use popular Linux distributions such as <a href="https://ubuntu.com/">Ubuntu</a>, <a href="https://manjaro.org/">Manjaro</a>, or <a href="https://linuxmint.com/">Mint</a></div>

		<p>Connect your device and once you do palera1n will attempt to put the device into recovery mode, then follow the instructions that are provided to enter DFU. <bold>This step is to ensure there isn't any corruption issues when attempting to enter DFU via force reset.</bold></p>

		<div class="alert-box critical">On <Code>A11 devices</Code>, you must disable your passcode and will not be able to use your passcode, or other SEP functionality, until you boot into a stock iOS state. SEP functionality includes things such as a passcode, Face ID/Touch ID, and Apple Pay.<br/><br/>Additionally, if your device is an <Code>A11 device on iOS 16</Code> and you've set a passcode before, you will need to <bold>erase all content and settings</bold> in order to be able to jailbreak.</div>

		<p>Once you're in DFU, palera1n will start the process of exploiting and jailbreaking your device.</p>

		<div class="alert-box notice">A9(X) and earlier devices have an issue where they will get stuck midway through this process in pongoOS. To work around this issue, you'll need to do the following:<br/><br/>1. In the terminal window, press <code>Control + C</code><br/>2. Rerun the palera1n command<br/><br/>You'll need to do this every time you rejailbreak your device.</div>

		<p>Once your device has booted up, it will take a few seconds for palera1n's loader app to appear. When that happens, select your preferred package manager within the application to install the necessary packages to start using the jailbreak.</p>

		<h4>and.. you're done!</h4>

		<p><a class="clickable-button" href="https://ios.cfw.guide/installing-palera1n/?tab=linux"> Alternative Linux guide can be found here</a></p>
		<p><a class="clickable-button" href="https://ios.cfw.guide/#what-is-jailbreaking"> What is jailbreaking?</a></p>
	</div>
</linuxdownload>
