---
import Header from "../components/Header.astro";
import Head from "../components/Head.astro";
import Footer from "../components/Footer.astro";
import DocsSidebar from "../components/DocsSidebar.astro";

import "../components/pagestyle.css";
import "./docs.css";
---

<!doctype html>
<html lang="en">
    <head>
        <Head/>
    </head>
    <script src="../scripts/scrolltotop.js"/>
    <body style="background-color: #101010;">
        <Header showNavbar={true} showMenuIcon={true} />
        <DocsSidebar/>
        <div class="docs-content-container" onclick="document.body.classList.remove('sidebar-open')">
            <main class="docs-content docs-stuff">
                <slot />
                <Footer/>
            </main>
        </div>
        <button id="scrollToTopBtn" class="scroll-to-top">↑</button>
    </body>
    
</html>

