tab-container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    overflow: hidden;
}

input { display: none; }
input:checked + label {
    color: #ffffff;
    background-color: #282c2f;
    border-radius: 25px;
    text-align: center;
    border: 1px solid #4a4d56;
}

label {
    cursor: pointer;
    padding: 0.5em;
    color: #a7b0c7;
    background-color: #16191a;
    border-radius: 25px;
    text-align: center;
}

label:last-of-type {
    border: none;
    margin-left: 10px;
}

label:hover {
    color: #ffffff;
}

tab-content {
    border-top: 1px solid #3a3c46;
    grid-column: 1 / -1;
    margin-top: 15px;
    border-radius: 0 0 .5em .5em;
}

input#tabToggle01:checked ~ tab-content:not(:nth-of-type(1)),
input#tabToggle02:checked ~ tab-content:not(:nth-of-type(2)) {
    display: none;
}

/* 
```
sh
```
*/

.astro-code {
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid #4a4d56;
}

/* 
| Table | eow |
| ----- | --- |
*/

.docs-stuff table {
    border-radius: 18px;
    margin: 1em 0;
}

.docs-stuff td, th {
    padding: 1rem;
    background: #18181a;
}

/* 
`sh`
*/

.docs-stuff p code {
    padding: 0.1rem 0.3rem;
    border-radius: 2px;
    border: 1px solid #2d2d2d;
    color: #79B8FF;
}

/* 
>
*/

.docs-stuff blockquote {
    -webkit-margin-start: 0;
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    -webkit-margin-end: 0;
    margin-top: 1rem;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    margin-bottom: 1rem;
    padding-right: 1rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    padding-left: 1.5rem;
    border-left: 0.3em solid #333643;
    background: #15171a;
}

blockquote:before {
    content: "";
    width: 0.25em;
    
}

.anchor {
    color: #79B8FF;
    text-decoration: none;
    position: absolute;
    right: 100%;
    top: 0;
    bottom: 0;
    margin: auto;
    opacity: 0;
    transition: 0.25s;
    padding-right: 0.5em;
}

.docs-stuff *:hover > .anchor {
    opacity: 1
}

/* Basic text */

.docs-stuff h1{
    position: relative;
    scroll-margin-top: 56px;
    margin-top: 50px;
    padding-bottom: 10px;
    font-weight: 500;
    border-bottom: 1px solid #3a3c46;
}

.docs-stuff h2 {
    position: relative;
    scroll-margin-top: 56px;
    margin-top: 50px;
    padding-bottom: 3px;
    font-weight: 500;
    border-bottom: 1px solid #212329;
}


.docs-stuff h3,.docs-stuff h4,.docs-stuff h5,.docs-stuff h6 {
    position: relative;
    scroll-margin-top: 56px;
}

.docs-stuff p {
    line-height: 1.6;
    color: #b8bdc5;
}

/* 
<p class="markdown-{something}">
*here be dragons*
</p>
*/

.markdown-warning {
    border-left: 4px solid #ffa726;
    background-color: #3f3b35;
    padding: 1em;
    margin: 1em 0;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    color: #ecc7b4;
    font-family: Arial, sans-serif;
}

.markdown-warning p {
    margin: 0;
}

.markdown-info {
    border-left: 4px solid #268bff;
    background-color: #35373f;
    padding: 1em;
    margin: 1em 0;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    color: #b4c9ec;
    font-family: Arial, sans-serif;
}

.markdown-info p {
    margin: 0;
}

.markdown-tip {
    border-left: 4px solid #26ff59;
    background-color: #363f35;
    padding: 1em;
    margin: 1em 0;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    color: #b4ecc0;
    font-family: Arial, sans-serif;
}

.markdown-tip p {
    margin: 0;
}

/* 
---
*/

.docs-stuff hr {
    border: none;
    height: 3px;
    background-color: #3a3c46;
    margin: 1rem 0;
}

/* 
image
*/

.docs-stuff img {
    max-width: 100%;
}

/* 
Links 
*/

.docs-stuff a {
    color: #79B8FF;
    text-decoration: none;
    transition: color 0.3s ease;
}

.docs-stuff a:hover {
    color: #ffa726;
    text-decoration: underline;
}

.docs-stuff a:visited {
    color: #b072d1;
}

.docs-stuff a:active {
    color: #ff5722;
}

.docs-stuff .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
}

.docs-stuff .card {
    background-color: #18181a;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 240px;
    padding: 16px;
}

.docs-stuff .card img {
    width: 50%;
    height: auto;
    object-fit: cover;
}

.docs-stuff .card-title {
    margin-top: 8px;
    color: #cbcbcb;
    font-size: 26px;
    text-align: center;
}