---
import '../styles/global.css';

import Subheader from '../components/Subheader.astro';
import Head from '../components/Head.astro';
import Footer from '../components/Footer.astro';
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <Head/>
    </head>

    <body class="bg-black text-white">
        <Subheader/>
        <main>
            <slot/>
        </main>
        <Footer/>
    </body>
</html>